<!DOCTYPE html>
<html>
<body>
<div class="climbers-body">

<h1> All of the Climbers </h1>
<ul> 
<% @climbers.all.each do |climber| %> 
  <li><%= link_to climber.name, climber_path(climber)%></li>
  <%end%>
</ul>
<br>
<br>
<h2><%= link_to "Create A Profile!", new_climber_path%></h2>

</div>
</body>
</html>
