<div class="topnav">
<a class="active" href="/climbers/welcome">Home</a>
<a href="/climbers">Climbers</a>
<a href="/communities">Communities</a>
<a href="/locations">Locations</a>
<a href="/routes">Routes</a>

<a style="float:right" href="/climbers/logout">Log Out</a>
<a style="float:right" href="/climbers/<%=current_user.id%>"><%= current_user.username %></a>

</div>
