<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<ul>
  <li><a href="climbers#index">Climbers</a></li>
  <li><a href="communities#index">Communities</a></li>
  <li><a href="routes#index">Routes</a></li>
  <li><a href="locations#index">Locations</a></li>
  <li style="float:right"><a class="active" href="#about">Log In</a></li>
</ul>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:60px">BETA-CLIMBERS</h1>
    <h3 style="font-size:13px">welcome to the climb</h3>
    <br><br><br><br>
    <%= button_to "ENTER", climbers_path, method: :get, :class => "button" %>
  </div>
</body>
</html>

