<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #000000;
}

.active {
  background-color: #004f70;
}
</style>
</head>
<body>

<ul>
  <li><a href="climbers#index">Climbers</a></li>
  <li><a href="communities#index">Communities</a></li>
  <li><a href="routes#index">Routes</a></li>
  <li><a href="locations#index">Locations</a></li>
  <li style="float:right"><a class="active" href="#about">Log In</a></li>
</ul>

</body>
</html>


<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.hero-image {
  background-image: url("https://i.pinimg.com/originals/3b/d5/a7/3bd5a78fede2560fc13ed5d55aa42538.jpg");
  background-color: #cccccc;
  height: 725px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>
</head>
<body>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:60px">BETA-CLIMBERS</h1>
    <h3 style="font-size:13px">welcome to the climb</h3>
    <br><br><br><br>
    <%= button_to "ENTER", climbers_path, method: :get, :class => "button" %>
  </div>
</div>


</body>
</html>
