<!DOCTYPE html>
<html>
<body>

<%= render "partials/navbar" %> 

<div class="route-index-body">

<center>
<h1 style="font-size:45px">Routes</h1>
<br>
<div class="routes-index-list">
  <% @routes.each do |route| %>
    <h3><%= link_to route.name, route_path(route), {class: "routes-index-to-route-show-link"} %></h3>
    <p>Location: <%= link_to route.location.name, location_path(route.location), {class: "routes-index-to-location-show-link"} %><br><br></p>
  <br>
  <% end %>
  <button class="ui standard button">
  <%= link_to "Create New Route", new_route_path, method: "get" %>
  </button>
</div>
</center>
</div>
</html>
</body>