<!DOCTYPE html>
<html>
<body>

<div class="topnav">
<a class="active" href="/">Home</a>
<a href="/climbers">Climbers</a>
<a href="/communities">Communities</a>
<a href="/locations">Locations</a>
<a href="/routes">Routes</a>
<a style="float:right" class="active" href="/">Log Out</a>
</div>
<div class="route-index-body">

<center>
<h1 style="font-size:45px">Routes</h1>
<br>
<% @routes.each do |route| %>
  <h3><%= link_to route.name, route_path(route) %></h3>
    <p>Location: <%= link_to route.location.name, location_path(route.location) %><br><br></p>
<br><br>
    <% end %>

<br><br>

<%= button_to "Create New Route", new_route_path, method: "get" %>
</center>
</div>
</html>
</body>