/* 
*= require_tree . 
*= require_self 
*/
@import "semantic-ui";


//ALL PAGES
.flash-info-for-all-pages {
  background: red;
}

 #footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
 }

 li {
  list-style: none
 }

 .ui.inverted.menu{ 
   margin: 0px;
   border-radius: 0px;
 }