
body  {
  background-image: url("https://i.pinimg.com/originals/04/ef/5e/04ef5e1743f2123165f573616c533885.jpg");
  background-color: #cccccc;
  height: 150vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin: 0;
}

h1{
  text-align: center;
}

h2{
  text-align: center; 
}

h5{
  text-align: center;
}
