



.community-body{
  background-image: url("https://wallpapercave.com/wp/wp4853028.jpg");
  background-color: #cccccc;
  height: 100vh; //adjust this to be dynamic
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.community-index-body{
background-image: url("https://wallpapercave.com/wp/wp4853030.jpg");
background-color: #cccccc;
height: 100vh; //adjust this to be dynamic
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
position: relative;
margin: 0;
font-family: Helvetica, Arial, sans-serif;
text-align: center;
}

.community-post-box {
  color: white;
  border-radius: 5px;
  padding: 1rem 1rem;
  background-color: rgba(0, 80, 146, 0.747);
  margin-left: 20rem;
  margin-right: 20rem;
}

.community-content-box {
  color: white;
  border-radius: 5px;
  padding: 1.5rem 1.5rem;
  background-color: rgba(34, 43, 51, 0.61);
  margin-left: 20rem;
  margin-right: 20rem;
}

.community-subject {
  color: rgb(182, 182, 182);
}

.community-subject:hover {
  color: rgb(255, 255, 255);
}