
//INDEX PAGE
.location-index-img {
  border-radius: 5px;
  margin-top: 1.5rem;
  margin-bottom: 5px;
  min-width: 10rem;
  min-height: 10rem;
}

.location-index-body {
background-image: url("https://img1.goodfon.com/wallpaper/nbig/9/89/gory-sneg-oblaka-cherno-belaya.jpg");
background-color: #cccccc;
height: 150vh;
width: 100%;
background-position: center;
background-repeat: repeat;
background-size: cover;
background-attachment: fixed;
position: absolute;
margin: 0;
overflow: scroll;
}

.location-index-list {
  border-radius: 20px;
  padding: 2.5rem 2.5rem;
  background-color: rgba(61, 62, 65, .5);
  margin-left: 10rem;
  margin-right: 10rem;
}

.location-index-link {
  margin-top: 0;
  color: black;
  font-weight: bold;
  font-size: large;
  letter-spacing: .4rem;
}

.location-index-link:hover {
  color: white;
}


//SHOW PAGE
.location-body  {
  background-image: url("https://free4kwallpapers.com/uploads/originals/2020/08/03/snow-coated-rocky-mountains-wallpaper.jpg");
  background-color: #cccccc;
  height: 150vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin: 0;
  overflow: scroll;
}

.weather-display {
  width: 20rem;
  opacity: .8;
}

#weather-title {
  margin-top: 0;
}

.location-show-list {
  color: white;
  border-radius: 20px;
  padding: 2.5rem 2.5rem;
  background-color: rgba(61, 62, 65, .6);
  margin-left: 10rem;
  margin-right: 10rem;
}

.location-show-info-header {
  margin-bottom: 0;
}

.location-show-info-body {
  font-size: 1.2rem;
  margin-top: -1.3rem;
}

.location-show-info-body:last-of-type {
  margin-bottom: 1rem;
}

.location-show-edit-button {
  margin: 0 7rem;
}

#location-show-routes-header {
  margin-top: 6rem;
}

.location-route-links {
  color: rgb(169, 210, 233);
  text-decoration: underline;
}