<!DOCTYPE html>
<html>
<body>

<%= render partial: "partials/navbar" %> 

<div class="community-index-body">
<h1> Join a Community Now!</h1> 
<br>
<ul>
<% @communities.each do |community|%> 
  <li><%= link_to community.name, community_path(community)%></li> 
  <%end%>
</ul>
</div>
</html>
</body>